 body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial, helvetica, sans-serif;
  text-decoration:none;
  background-color: #000;
  color: #fff;
 }
 a{
  text-decoration:none;
  color: #fff
 }
 #pp{
  position: absolute;
  z-index: 1;
  width: 80px;
  top: 30px;
  left: 46%;
  right: 46%;
 }
 .collection{
  width: 80%;
  position:absolute;
  top: 0px;
  left: 10%;
  right: 10%;
 }
 .collection img{
   position: absolute;
   width: 90%;
   left: 5%;
   right: 5%;
   top: 5%;
 }
 .collection #cltt{
  position: absolute;
  top: 850px;
  left: 40px;
  cursor: default;
 }
 .collection #expl{
  position: absolute;
  width: 48%;
  top: 900px;
  left: 40px;
  cursor: default;
  font-family: vt323,monospace;
 }
 #nb{
 text-align: center;
 font-size: 80px;
 margin-top: 500px;
 font-family: vt323,monospace;
 cursor: default;
 }
 #nbs{
 text-align: center;
 font-size: 70px;
 margin-top: 50px;
 font-family: vt323,monospace;
 cursor: default;
 }
 .nft img{
   width: 20%;
   margin-left: 10%;
   margin-top: 5%;
 }
 #opns{
  width: 300px;
  height: 80px;
  font-size: 1.7rem;
  font-family: arial, sans-serif;
  font-weight: 700;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 700px;
  color: white;
  z-index: 0;
  border: 1px solid #892cdc;
  background: black;
  overflow: hidden;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
 }
 #opns::before {
  content: '';
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  height: 100%;
  background: #892cdc;
  border-radius: 50% 50% 0% 0%;
  z-index: -1;
  transition: all .5s;
 }
 #opns:hover::before {
  top: 0px;
  border-radius: 0;
 }
 @media (Max-width: 1300px){
   .collection img{
     top: 0px;
     width: 90%;
     left: 5%;
     right: 5%;
   }
   .collection #expl{
     top: 600px;
     width: 100%;
   }
   .collection #cltt{
     top: 820px;
   }
   #opns{
     margin-top: 900px;
     margin-right: auto;
   }
   #nb{
     margin-top: 200px;
   }
   .collection #cltt{
     margin-top: -250px;
   }
   .nft img{
     width: 90%;
     margin-right: 5%;
     margin-left: 5%;
     top: 5%;
   }
 }
